<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>コメントを投稿</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:include="header"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">コメントを投稿</h1>
                <form th:action="@{/blogs/{blogId}/comments/{id}/edit(blogId=${blogId}, id=${comment.id})}" th:object="${comment}" method="post">
                    <div class="form-group">
                        <label for="content">内容:</label>
                        <input type="text" id="content" th:field="*{content}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">投稿</button>
                    </div>
                </form>
                <div class="mt-4">
                    <a th:href="@{/blogs/{blogId}(blogId=${blogId})}" class="btn btn-secondary">ブログ詳細</a>
                </div>
            </div>
        </div>
    </div>
    <div th:include="footer :: footer"></div>
    <!-- Bootstrap JS and dependencies CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
