<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>コメント一覧</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:include="header"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">コメント一覧</h1>
                <ul class="list-group mb-4">
                    <li class="list-group-item" th:each="comment : ${comments}">
                        <p><strong>内容:</strong> <span th:text="${comment.content}">コメント内容</span></p>
                        <p><strong>作成日:</strong> <span th:text="${#temporals.format(comment.createdAt, 'yyyy/MM/dd')}">作成日</span></p>
                    </li>
                </ul>
                <div class="mb-4">
                    <a th:href="@{/blogs/{id}/comments/new(id=${blog.id})}" class="btn btn-primary">コメントを追加</a>
                </div>
                <div>
                    <a th:href="@{/blogs/{blogId}(blogId=${blogId})}" class="btn btn-secondary">ブログ詳細に戻る</a>
                </div>
            </div>
        </div>
    </div>
    <div th:include="footer :: footer"></div>
    <!-- Bootstrap JS and dependencies CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
